<article>
    <h1 class="display-6">{{constructor.name}} (Constructor)</h1>
    <p>
        {{constructor.nationality}}
    </p>
    <table class="table">
        <thead>
            <th>Driver</th>
            <th>Wikipedia</th>
        </thead>
        <tbody>
            {{#each constructor.drivers}}
                <tr>
                    <td>
                        <a href="/drivers/{{driverId}}">{{givenName}} {{familyName}}</a>
                    </td>
                    <td>
                        <a href="{{url}}">Goto</a>
                    </td>
                </tr>
            {{/each}}
        </tbody>
    </table>
</article>